AllowShortFunctionsOnASingleLine: None
AlignAfterOpenBracket: BlockIndent

BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: false
  AfterClass: false
  SplitEmptyFunction: true
  AfterFunction: true

ConstructorInitializerIndentWidth: 2
PackConstructorInitializers: NextLineOnly